In [1]:
from final_submission.sentiment import VaderSentiment
from final_submission.mining import TickersMining
from final_submission.utils import save_to_csv
import pandas as pd

ModuleNotFoundError: No module named 'nltk'

# Scrape Reddit

# Sentiment

In [6]:
vader = VaderSentiment()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/mohtadi/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [7]:
df_sentiment_data = vader.get_sentiment(filename='output/text_data.csv')

In [11]:
df_sentiment_data.head(10)

        id        type  negative  neutral  positive  compound
0   qlo4ad       title     0.000    1.000     0.000    0.0000
1   qlo4ad  submission     0.041    0.865     0.093    0.7186
2  hj47g0f     comment     0.082    0.918     0.000   -0.3612
3  hj48umn     comment     0.000    0.794     0.206    0.0772
4  hj47wjv     comment     0.137    0.863     0.000   -0.1513
5  hj49h6n     comment     0.000    0.128     0.872    0.7783
6   qlnoud       title     0.000    1.000     0.000    0.0000
7   qlnoud  submission     0.029    0.971     0.000   -0.6553
8  hj44wbm     comment     0.082    0.918     0.000   -0.3612
9  hj44zn9     comment     0.000    0.590     0.410    0.4168

# Author Data

In [12]:
authors = pd.read_csv('output/author_data.csv')
authors.head()

,author_id,name,is_gold,comment_karma,link_karma,awarder_karma,awardee_karma,total_karma,created_utc
0,3dlu6wzb,NikeExchange,False,13624,35,301,170,14130,2019-03-09 14:37:39
1,6hf2z55l,VisualMod,True,44006,15282,57055,32268,148611,2020-05-15 04:42:11
2,cswhf,asmit10,False,645,2575,0,21,3241,2013-08-18 08:03:38
3,4p8czndn,Mysterious----,False,11845,6033,56,3102,21036,2019-09-30 13:01:52
4,6lmjucr2,CM_6T2LV,False,398,1,0,41,440,2021-01-01 05:07:54

# Get Stock Data

In [13]:
nasdaq_scraper = NasdaqScraper()
stock_data = nasdaq_scraper.download_stock_data()

In [14]:
save_to_csv(stock_data, 'w', 'output/stock_data.csv')

In [15]:
stock = pd.read_csv('output/stock_data.csv')
stock.head()

,symbol,name,lastsale,netchange,pctchange,volume,marketCap,country,ipoyear,industry,sector,url
0,A,Agilent Technologies Inc. Common Stock,$157.85,0.7900,0.503%,1714215,4.778477e+10,United States,1999.0,Electrical Products,Capital Goods,/market-activity/stocks/a
1,AA,Alcoa Corporation Common Stock,$47.08,0.3500,0.749%,10035264,8.808816e+09,NaN,2016.0,Aluminum,Basic Industries,/market-activity/stocks/aa
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.83,0.0000,0.00%,62726,1.228750e+09,NaN,2021.0,Business Services,Finance,/market-activity/stocks/aac
3,AACG,ATA Creativity Global American Depositary Shares,$2.3696,0.0846,3.702%,20493,7.435075e+07,China,NaN,Service to the Health Industry,Miscellaneous,/market-activity/stocks/aacg
4,AACIU,Armada Acquisition Corp. I Unit,$9.88,-0.0200,-0.202%,137133,0.000000e+00,United States,2021.0,NaN,NaN,/market-activity/stocks/aaciu

# Tickers

In [16]:
miner = TickersMining()
df_ticker_data = miner.get_tickers(text_data='output/text_data.csv')

In [17]:
df_ticker_data.head()

        id        type tickers
0   qlo4ad       title
1   qlo4ad  submission       J
2  hj47g0f     comment      DD
3  hj48umn     comment
4  hj47wjv     comment

# Sentiment and Tickers

In [19]:
df_sentiment_data['tickers'] = df_ticker_data['tickers']

df_sentiment_data.to_csv('output/sentiment_data.csv')